.NavItem{
    margin-right: 16px;
}

.NavItem > a{
    text-decoration: none;
    color: inherit;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.NavItem >a:active,
.NavItem >a.active{
    font-weight: bold;
    letter-spacing: 2px;
}
