.WorkCardDiv{
    margin-top: 16px;
    margin-right: 12px;
    flex-basis: 30%;
    animation: fadeup 0.6s ease-in-out;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;

}

@keyframes fadeup {
    from {opacity: 0; transform: translateY(30px)}
    to {opacity: 1; transform: translateY(0)}
}
.WorkCard{
    height: inherit;
}
.WorkCard > h6{
    margin: 18px 12px;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.WorkCard > img{
    width: 100%;
    object-fit: scale-down;
    transition: all 0.3s ease-in-out;
}

.WorkCard > p {
    margin: 18px 12px;
    font-size: 0.9em;
    letter-spacing: 1px;
}
.WorkCard > button{
    margin-bottom: 16px;
    margin-left: 8px;
}

.WorkCard>img:hover{
    transform: scale(1.1,1.1);
}
@media (max-width: 900px) {
    .WorkCardDiv{
        flex-basis: 48%;
    }

}

@media (max-width: 670px) {
    .WorkCardDiv{
        width: 100%;
    }
    .WorkCard>img:hover{
        transform: none;
    }
}