.WorkCard{
    width: 350px;
}
.WorkCard > h6{
    margin: 18px 12px;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.WorkCard > img{
    width: inherit;
    height: 200px;
    object-fit: scale-down;
    transition: all 0.3s ease-in-out;
}

.WorkCard > p {
    margin: 18px 12px;
    font-size: 0.85em;
    letter-spacing: 1px;
}

.WorkCard>img:hover{
    transform: scale(1.1,1.1);
}

@media (max-width: 1160px) {
    .WorkCard{
        width: 100%;
    }
    .WorkCard > img{
        width: inherit;
        height: auto;
    }
    .WorkCard>img:hover{
        transform: none;
    }
}